.cart-icon{
    border: none;
    border-radius:0;
    position:absolute;
    background-color:$color-white;
    padding:1rem 3rem;
    transform: scale(0);
    opacity: 0;
    transition: .2s ease;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    align-items:center;
    gap:.8rem;

    &--text{
        font-size: 1.8rem;
        font-weight: 500;
    }
}

.fa-shopping-cart{
    color: $color-primary;
    font-size: 2rem;
}