// Cart Component Style

.cart {
  grid-column: col-start 7 / full-end;
  z-index: 100;
  background-color: $color-white;
  padding: 5rem;
  display: grid;
  align-content: center;
  position: fixed;
  width: 400px;
  top: 0;
  right: 0;
  height: 100vh;
  row-gap: 3vh;
  grid-template-rows: repeat(6, max-content);
//   transform: translateX(400px);
  transition: 0.4s ease;

  @media only screen and (max-width: 25em) {
    width: 100%;
  }

  &__menu {
    display: grid;
    grid-template-columns: 1fr 5rem;
    align-items: center;
  }
  &__close{
    background:none;
    cursor: pointer;
    font-size: 3.5rem;
  }
  &__heading {
    font-size: 2rem;
    font-weight: 500;
    font-family: $font-display;
  }

  &__img {
    height: 90px;
  }
  &__details {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 1.5rem;

    &-name {
      font-size: 1.6rem;
      color: $color-gray-dark-2;
      font-weight: 600;
    }

    &-price {
      font-size: 1.4rem;
    }
  }

  &-btn {
    padding: 1.5rem;
    font-size: 1.8rem;
    font-weight: 400;
    background-color: $color-secondary;
    color: $color-white;
    font-family: $font-display;
    text-align: center;
    color: $color-white;

    a {
      color: $color-white;
    }
  }
}

.hidden {
  display: none;
  transform: translateX(0px);
}
