// PRODUCT STYLES

.product__card{
    transition: .2s ease;
    position: relative;
    display: grid;
    grid-template-rows: 1fr min-content;

    @media only screen and (max-width: 59em){
        box-shadow: 0 1rem 2rem rgba($color-gray-dark-1, $alpha: 0.2);
    }

    &:hover{
        background-color: $color-white;
        box-shadow: 0 1rem 2rem $color-gray-light-2;
    }

    &:hover .product__card--icon{
        opacity:1;
        transform: translate(-50%, -50%) scale(1);
    }

    &--icon{
        position:absolute;
        top:65%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        background-color:$color-white;
        padding:1rem 3rem;
        opacity: 1;
        transition: .2s ease;
        display: grid;
        grid-template-columns: repeat(2, max-content);
        align-items:center;
        gap:.8rem;
       
        .fa-shopping-cart{
            color: $color-primary;
            font-size: 2rem;
        }

        @media only screen and (max-width: 950px){
            display:none;
        }
    }

    &--text{
        font-size: 1.8rem;
        font-weight: 500;
    }
   
    &--details{
        display:grid;
        row-gap:1rem;
        justify-items: center;
        padding: 3rem 2rem;
    }

    &--title{
        font-size: 1.6rem;
        font-family: $font-display;
        font-weight: 400;
        text-align: center;
    }
    
    &--cost{
        font-size: 2rem;
        font-family: $font-display;    
        font-weight: 600;
        color: $color-primary
    }

    &--img{
        height: 100%;
        object-fit: cover;
    }
}