// TYPOGRAPHY STYLES

.heading-1{
    font-size: 7rem;
    color: $color-white;
    font-weight:900;
    font-family:$font-display;

    @media only screen and (max-width:700px){
        font-size:5rem;
    }
}

.heading-2{
    font-family: $font-display;
    font-size: 3rem;
    font-weight: 600;
}


.nav{

    &__account--heading{
        font-size: 2.5rem;
        font-family: $font-display;
        color: $color-secondary;
        letter-spacing: 1px;
        font-weight:400;
    }

    &__cart--title{
        font-size: 2.5rem;
        font-family: $font-display;
        color: $color-secondary;
        letter-spacing: 1px;
        font-weight:400;
    }
}

.header__text{
    font-size:2.2rem;
    color: $color-gray-light-1;
    font-family: $font-primary;
}

.offers__description{
    font-size: 1.8rem;
    font-family: $font-display;
    font-weight: 500;
    color: $color-secondary;
}
.footer{
    font-family: $font-display;

    &__details--text{
        font-size: 1.6rem;
        color: $color-gray;
        line-height: 1.7;
        letter-spacing: .5px;
        
        span{
            font-weight: 400;
        }
    }

    .copy{
        font-size: 1.3rem;
        color:$color-gray;
    }
}

.newsletter-heading{
    font-size: 2.5rem;
    color:$color-secondary;
}

.logo-text{
    font-family: 'Gochi Hand', cursive;
    font-weight: 400;
    font-size: 4rem;
    color:$color-secondary;
}

.fas,
.far{
    font-size:2rem;
}

.product__link{
    color: $color-secondary;
}